.weather-app-wrapper {
  max-width: 800px;
  margin: 20px auto;
}

.weather-app {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
}

h1 {
  color: #1ab3a9;
  font-size: 70px;
  font-family: "Megrim", cursive;
  font-weight: bold;
}

form {
  margin-top: 20px;
}

ul {
  list-style: none;
}

#searchButton {
  border: 0;
  color: white;
  background-color: #1ab3a9;
  display: inline;
}
#searchButton:hover {
  background-color: transparent;
  color: grey;
}
#weatherDetails {
  margin-top: 50px;
}

#largeDetails {
  position: relative;
  top: 50px;
  left: 30px;
}

#cityGroup {
  color: #1ab3a9;
  font-size: 35px;
}
#largeTemperature {
  font-size: 100px;
  color: grey;
}

#largeDetails .units {
  position: relative;
  top: -54px;
}

#largeIcon {
  position: relative;
  left: 90px;
  bottom: 100px;
}

.WeatherForecast {
  text-align: center;

  color: grey;
}

.forecast-temperature-max {
  color: #1ab3a9;
  font-weight: bold;
}

#smallIcons {
  text-align: center;
}

#conditions {
  text-transform: capitalize;
}

#footnoteLink {
  font-size: small;
  margin-top: 10px;
}
